<html>

	<head>
		<title>Holly's blog</title>
	</head>

	<body>
		<div>
			<h1><a href="">Holly's blog</a></h1>
		</div>

		<div>
			<p>published: 07.02.2016 4:00</p>
			<h2><a href="">My first post</a></h2>
			<p>Attack the dog then pretend like nothing happened stare at wall turn and meow stare at wall some more meow again continue staring.</p>
		</div>

		<div>
			<p>published: 07.02.2016 5:00</p>
			<h2><a href="">My second post</a></h2>
			<p>Missing until dinner time chase after silly colored fish toys around the house, need to chase tail tuxedo cats always looking dapper. </p>
		</div>

	</body>

</html>